__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.egg-info/
.venv/
.env
credentials.txt
checkpoints/
checkpoints-downloaded/
my_checkpoints/
my_checkpoints_v2/
my_sft_checkpoints/
my_sft_checkpoints_v2/
dpo-checkpoints/
plots/
app.log*
wandb/
.DS_Store
.worktrees/
